* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(30, 18%, 87%);
    font-size: 16px;
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontally center the white card */
    align-items: center; /* Vertically center the white card */
}

#white-card {
    width: 700px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center child elements horizontally */
}

.container {
    width: 90%;
    max-width: 100%;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: flex-start; /* Center child elements horizontally */
    height: 100%;
}

.omelette-photo {
    max-width: 100%;
    border-radius: 20px;
    margin-top: 40px;
}


#header {
    font-size: 39px;
    font-family: Young Serif;
    margin-top: 20px; 
    font-weight: 400;
}

.intro {
  font-family: Outfit;
  font-weight: 400;
  margin-top: 5px;
}


.prep-time-card {
  width: 100%;
  padding: 20px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*not needed in final version */
  margin-top: 20px; 
}

.prep-time-card h2 {
  font-size: 20px;
  color: hsl(30, 10%, 34%);
  margin-bottom: 10px;
}

.prep-time-card ul {
  list-style: disc;
  font-size: 16px;
  color: hsl(14, 45%, 36%);
  font-family: Outfit;
  margin-left: 30px;
}

.prep-time-card li {
  padding-left: 10px;
}

h3 {
  font-size: 30px;
  font-family: Young Serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-top: 15px;
}

.ingredients-list {
  color: hsl(14, 45%, 36%);
  list-style: square;
  margin-left: 20px;
  margin-top: 10px;
  font-family: Outfit;
  margin-left: 30px;
}

.ingredients-list li {
  padding-left: 12px;
}

.bottom-line {
  margin-top: 10px;
  width: 100%;
  background-color: hsl(14, 45%, 36%); /* Set a background color for the additional card */
  opacity: .3;
  /* z-index: 2; Set a higher z-index to place it on top of the white-card */
}

h4 {
  font-size: 30px;
  font-family: Young Serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-top: 15px;
}

 .instructions-list {
  font-size: 16px;
  color: hsl(14, 45%, 36%);
  font-family: Outfit;
  margin-left: 30px;
}


.instructions-list li {
  padding-left: 10px;
}

h5 {
  font-size: 30px;
  font-family: Young Serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-top: 15px;
}

.nutrition-intro {
  font-size: 16px;
  color: hsl(14, 45%, 36%);
  font-family: Outfit;
  margin-top: 15px;
}

.nutrition-list {
  font-size: 16px;
  color: hsl(14, 45%, 36%);
  font-family: Outfit;
  list-style: none;
}

.nutrition-label-box {
  display: flex;
  gap: 300px;
  font-size: 16px;
  color: hsl(14, 45%, 36%);
  font-family: Outfit;
  list-style: none;
  margin-top: 10px;
}

